div.row {
    width: 700px;
    height: 60px;
    border-left: solid black 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

div.col {
    width: 60px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    box-sizing: border-box;
}

div.pinyin {
    border-bottom: dashed red 1px;
    height: 10px;
    width: 60px;
}

div.pinyin-last {
    border-bottom: solid black 1px;
    height: 10px;
    width: 60px;
}

div.zi {
    text-align: center;
    line-height: 30px;
}

h3 {
    margin: 0 0 0 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

table {
    /*border-collapse: collapse;*/
    /*padding-left: 30px;*/
    /*padding-top: 30px;*/
}

table, tr, td {
    /*border: 1px solid black;*/
}

td {
    width: calc(700px / 5);
    padding-bottom: calc(950px / 6);
}

/*no title and no title when print*/
/*@page { size: auto;  margin: 0mm; }*/
